.label {
    position: relative;
    display: block;
}

.label input {
    width: 100%;
    padding: 10px 20px;
    margin: 10px;
    font-size: inherit;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: 0;
}

.filled {
    color: blue;
    text-shadow: 0 0 3px #00f;
    background: white;
    padding: 0 5px;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 20px;
}

.empty {
    color: #aaa;
    padding: 0 5px;
    position: absolute;
    top: 18px;
    left: 25px;
}

.err {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.5em;
    font-size: 14px;
    color: red;
    background: white;
    transition: all .1s;
}

.noerr {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0.5em;
    font-size: 0px;
    transition: all .1s;
}